<h1>Brinquedos</h1>

<div class="container">
    <div class="bloc1">
        <table>
            <th>
                <tr *ngFor="let produto of produtos">
                    <button type="button" (click)="onSelect(produto)"[class.selected]="produto === selectedProduto">
                        <span>{{produto.nome}}</span>
                    </button>
                </tr>
            </th>
        </table>
    </div>

    <div class="bloc2">
        <div class="info" *ngIf="selectedProduto">
            <h2>{{selectedProduto.nome | uppercase}}</h2>
            <div>Categoria: {{selectedProduto.categoria}}</div>
            <div>Tamanho: {{selectedProduto.tamanho}}m</div>
            <div>Idade recomendada: {{selectedProduto.recomendacao}}</div>
            <div class="input">
                <label for="tamanho-produto">Att tamanho: </label>
                <input id="tamanho-produto" [(ngModel)]="selectedProduto.tamanho" placeholder="tamanho">
            </div>
        </div>
    </div>   
</div>     